Source: easy-rsa-conf
Section: utils
Priority: optional
Maintainer: mail@sb.stumasov.ru
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://sb.stumasov.ru
#Vcs-Browser: https://salsa.debian.org/debian/easy-rsa-conf
#Vcs-Git: https://salsa.debian.org/debian/easy-rsa-conf.git

Package: easy-rsa-conf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, easy-rsa
Description: Install easy-rsa and put base configuration.
