Package: bkp-srv
Version: 0.1.0
Architecture: amd64
Maintainer: Sergey <mail@sb.stumasov.ru>
Installed-Size: 19
Depends: rsync
Section: utils
Priority: optional
Homepage: https://sb.stumasov.ru
Description: rsync conf and remove old backups
 <insert long description, indented with spaces>
